<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Oophaga! a simple Javascript CMS</title>
    <meta name="description" content="" />
    <meta name="author" content="dni" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--		<meta name="viewport" content="width=device-width; initial-scale=1.0" /> -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  </head>

  <body></body>
  <script type="text/javascript" data-main="config" src="vendor/require.js"></script>
</html>
