<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit <%= name %></h4>
</div>
<div class="modal-body clearfix">
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Data</a></li>
      <li role="presentation"><a href="#meta" aria-controls="meta" role="tab" data-toggle="tab">Metadata</a></li>
      <li id="relation-tab" style="display:none;"  role="presentation"><a href="#relations" aria-controls="relations" role="tab" data-toggle="tab">Relations</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="fields">
        <div class="form-fields">
          <% vhs.foreachAttribute(fields, function(key, attribute){ %>
            <%= vhs.renderField(key, attribute) %>
          <% }); %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="meta">
        <div class="form-fields">
          <% vhs.foreachMetaAttribute(obj, function(key, attribute){ %>
            <%= vhs.renderField(key, attribute) %>
          <% }); %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="relations"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= vhs.renderButtons() %>
</div>

